.search-page-body{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.search-body{
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    align-items: center;
}

.search-result-body{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.search-result-body::-webkit-scrollbar{
    display: none;

}
