.userProfile-body {
    height: 400px;
}

.userProfile-body h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: cursive;
}

.userData {
    height: 75%;
    width: 100%;
}

.userData-left {
    width: 50%;
}
.todo-count {
    height: 80px;
    width: 200px;
}
.todo-count span{
    font-size: 2rem;
    margin-left: 2rem;
}

.note-count {
    height: 80px;
    width: 200px;
}
.note-count span{
    font-size: 2rem;
    margin-left: 2rem;
}
.userData-right {
    width: 50%;
}
.userData-right div{
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
}
.userData-right div p{
    display: inline;
    width: 50%;
    margin-right: 10px;
    color: black;
}
.userData-right div span{
    position:absolute;
    left: 5px;
    top: 5px;
    color: grey;
}
.userProfile-body button{
    transition: 0.1s ease-out;
}
.userProfile-body button:hover{
    background-color: rgb(224, 13, 13);
}
.userProfile-body button:active{
    transform: scale(0.9);
}